*.env
*~
*.back

_dependency_fork/postgresql-simple-migration/dist-newstyle/
_dependency_fork/postgresql-simple-migration/src/Main

DB/postgres/

back-end/dist-newstyle/
back-end/.stack-work/
back-end/out/
back-end/back-end-exe
back-end/run_deploy.sh
back-end/src/HSPG/

front-end/go-assets/
front-end/node_modules/
front-end/script.js
front-end/.spago
front-end/output
front-end_back
# front-end/.eslintrc.js
# front-end/package.json
# front-end/package-lock.json
